[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pre-commit = "*"
tox = "*"

[packages]
quart = "*"
quart-cors = "*"
python-dotenv = "*"
docker = "*"
inquirer = "*"
halo = "*"

[requires]
python_version = "3.7"
